@using ShvedovaAV.Models
@using ShvedovaAV.ViewModels
@model MainPageViewModel
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "АШАШ";
    List<Product> products = Model.Products;
    List<Slider>  sliders = Model.Sliders;
    List<Feedback>  feedbacks = Model.Feedbacks;
    int countInner = 0;
    int countIndicators = 0;
}
    
  
@*SLIDER*@

  <div class="container">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        @foreach(var item in sliders)
            {
            if (countIndicators == 0)
            {
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="@countIndicators" class="active" aria-label="Slide + @countIndicators" aria-current="true"></button>
            }
            else
            {
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="@countIndicators" aria-label="Slide + @countIndicators" class=""></button>
            }
            countIndicators++;
        }
     
    </div>
    <div class="carousel-inner">
        
            @foreach(var item in sliders)
            {
            if (countInner == 0)
            {
                <div class="carousel-item active">
                    <image src="@item.Image" class="img-fluid" style="width:100%;height:auto" />
                </div>
            }
            else
            {
                 <div class="carousel-item">
                    <image src="@item.Image"  class="img-fluid" style="width:100%;height:auto" />
                </div>

            }
            countInner = 1;
        }
          
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
@*PRODUCT_ITEMS*@
  

   <div class="container py-5" id="courses">
       <div class="row gx-2 d-flex justify-content-center text-center">
    @foreach (var item in products)
    {
       
          <div class="col-12 col-md-4">
            <img src="@item.Image" width="140" height="140" style="border-radius:90px"/>

            <h2 class="fw-normal">@item.Name</h2>
            <p style="min-height:100px;">@item.Description</p>
            <p><a class="btn btn-secondary" href="Product/Product/@item.Id">Подробнее...</a></p>
     
         </div>
    }
    </div> 
   </div> 
   

    @*DESCRIPTION*@

        <hr class="featurette-divider">

        <div class="container" id="about">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-12 col-md-6">
                <p> Анна Шведова - врач-психотерапевт.
                Более 30 лет успешно занимается вопросами здорового образа жизни,
                питания и психологии. Автор уникальных тренингов и курсов.
                Ценнейшие и глубокие знания доносит легко и просто. 
                </p>
                </div>
                <div class="col-12 col-md-6" >
                <image src="Files/Images/Description/Mama.png" class="img-fluid" style="height:auto;width:500px"/>
                </div>
                <hr class="featurette-divider mt-3">
                <div class="col-12 col-md-6" >
                <image src="Files/Images/Description/Lusia.png" class="img-fluid" style="height:auto;width:500px"/>
                </div>
                <div class="col-12 col-md-6">
                <p> Людмила Ушакова - директор Авторской Школы Анны Шведовой.
                    Врач-терапевт. Организатор тренингов и курсов.   
                </p>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

   
@*FEEDBACKS*@
  

   <div class="container py-5" id="feedbacks">
       <div class="row gx-2 d-flex justify-content-center text-center">
    @foreach (var item in feedbacks)
    {
       
          <div class="col-12 col-md-4">
            <img src="@item.Image" width="140" height="140" style="border-radius:90px"/>

            <h2 class="fw-normal">@item.AuthorName</h2>
            <p style="min-height:100px;">@item.Text</p>
            <p><a class="btn btn-secondary" href="Feedback/Feedback/@item.Id">Подробнее...</a></p>
     
         </div>
    }
    </div> 
   </div> 
   
 





   

  

    
