@using ShvedovaAV.Models
@using ShvedovaAV.ViewModels
@model MainPageViewModel
@{
    ViewBag.Title = "АШАШ";
    List<Product> products = Model.Products;
    List<Slider>  sliders = Model.Sliders;
    List<Feedback>  feedbacks = Model.Feedbacks;
    int count = 0;
}
    
  
@*SLIDER*@

  <div class="container">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
        
            @foreach(var item in sliders)
            {
            if (count == 0)
            {
                <div class="carousel-item active">
                    <image src="@item.Image" class="img-fluid" style="width:100%;height:auto" />
                    
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>@item.Name</h1>
                            <p>@item.Description</p>
                            <p><a class="btn btn-primary" href="#">Ознакомиться</a></p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                 <div class="carousel-item">
                    <image src="@item.Image"  class="img-fluid" style="width:100%;height:auto" />

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>@item.Name</h1>
                            <p>@item.Description</p>
                            <p><a class="btn btn-primary" href="#">Ознакомиться</a></p>
                        </div>
                    </div>
                </div>

            }
            count = 1;
        }
          @*<div class="carousel-caption">  - положение кнопки по центру
            <div class="carousel-caption text-end"> - положение кнопки справа
          *@
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
@*PRODUCT_ITEMS*@
  

   <div class="container py-5" id="courses">
       <div class="row gx-2 d-flex justify-content-center text-center">
    @foreach (var item in products)
    {
       
          <div class="col-12 col-md-4">
            <img src="@item.Image" width="140" height="140" style="border-radius:90px"/>

            <h2 class="fw-normal">@item.Name</h2>
            <p style="min-height:100px;">@item.Description</p>
            <p><a class="btn btn-secondary" href="Product/Product/@item.Id">Подробнее...</a></p>
     
         </div>
    }
    </div> 
   </div> 
   

    @*DESCRIPTION*@

        <hr class="featurette-divider">

        <div class="container" id="about">
            <div class="row d-flex justify-content-center text-center">
          <div class="col-12 col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">АШАШ <span class="text-muted">Описание сайта.</span></h2>
            <p>Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта 
                Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта 
                Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта 
                Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта 
                Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта 
                Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта 
                Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта 
                Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта 
                Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта 
                Описание сайта Описание сайта Описание сайта 
                Описание сайта Описание сайта 

                Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта 
                Описание сайта Описание сайта Описание сайта Описание сайта Описание сайта 
                Описание сайта Описание сайта Описание сайта Описание сайта 
            </p>
          </div>
                <div class="col-12 col-md-5" >
                <image src="Files/Images/Description/description.jpg" class="img-fluid" style="height:auto;width:500px"/>
                </div>
          </div>
          </div>

        <hr class="featurette-divider">

   
@*PRODUCT_ITEMS*@
  

   <div class="container py-5" id="feedbacks">
       <div class="row gx-2 d-flex justify-content-center text-center">
    @foreach (var item in feedbacks)
    {
       
          <div class="col-12 col-md-4">
            <img src="@item.Image" width="140" height="140" style="border-radius:90px"/>

            <h2 class="fw-normal">@item.Name</h2>
            <p style="min-height:100px;">@item.Description</p>
            <p><a class="btn btn-secondary" href="Product/Product/@item.Id">Подробнее...</a></p>
     
         </div>
    }
    </div> 
   </div> 
   
 





   

  

    
