@model ShvedovaAV.Models.Product
@{
    ViewBag.Title = @Model.Name;
}
<table class="table">
     <tr><th>Имя</th><th>Описание</th><th>Цена</th><th>Категория</th><th>Картинка</th></tr>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Description</td>
            <td>@Model.Price</td>
            <td>@Model.Category</td>
            <td><img src="~/@Model.Image" width="480" height="260"/></td>
           
        </tr>
    
</table>
<a asp-action="BuyProduct"><input type="button"  value="Купить"/></a>